@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Slackside+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Slackside+One&display=swap');
body{
    background-color: rgba(219, 219, 219, 0.877);
    height: 3060px;
}
.one{
    position: absolute;
    background-color: rgb(248, 191, 200);
    top:90px;
    left:150px;
    right:150px;
    height: 2800px;
    border-radius: 25px;
    bottom: 50px;;
    box-shadow: 2px 2px 2px 2px #34d1aa;
}


body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 .topnav {
   overflow: hidden;
  
 }
 
 .topnav a {
   float: right;
   color: #333030;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 
 .topnav a:hover {
   background-color: rgb(248, 191, 200);
   color: black;
 }
 
 .topnav a.active {
   background-color: #04AA6D;
   color: white;
 }
 
 .name{
     position: absolute;
     left:100px;
     top:-160px;
     font-size: 160px;;
     z-index: 4;
     font-family: "Playfair Display SC", serif;
 }   
 .name_two{
    position: absolute;
   left:260px;
   top:100px;
   font-size: 80px;;
    z-index: 5;
    font-family: "Parisienne", cursive;

 }
 .meal{
    position: absolute;
    z-index: 5;
    width: 50%;
    left:300px;
 }
 .proteins{
position: absolute;
width: 20%;
top:1050px;
background-color: rgba(77, 54, 54, 0.877);
z-index: 7;
left:100px;
height: 250px;
border-radius: 10px;
 }
 .proteins:hover{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.548);
     transition: all 0.1s ease 0.1s;
 }


 .fats{
    position: absolute;
width: 20%;
top:1050px;
background-color: rgba(77, 54, 54, 0.877);
z-index: 7;
left:502px;
height: 250px;
border-radius: 10px;
 }
 .fats:hover{
    box-shadow: 4px 4px 4px 4px rgba(78, 77, 77, 0.548);
    transition: all 0.1s ease 0.1s;
 }
 .carbohydrates{
    position: absolute;
    width: 20%;
    top:1050px;
    background-color: rgba(77, 54, 54, 0.877);
    z-index: 7;
    left:920px;
    height: 250px;
    border-radius: 10px;
 }
 .carbohydrates:hover{
    box-shadow: 4px 4px 4px 4px rgba(78, 77, 77, 0.548);
    transition: all 0.1s ease 0.1s;
 }
 .proteins_img{
    position: absolute;
    width:253px; ;
    background-color: rgba(77, 54, 54, 0.877);
    z-index: 7;
    
    height: 120px;
    border-radius: 10px;

 }
 .proteins_text{
    position: absolute;
    z-index: 8;
    color: azure;
    top:120px;
    left:10px;
    right: 10px;
 }
 .fats_img{
    position: absolute;
    width:253px; ;
    background-color: rgba(77, 54, 54, 0.877);
    z-index: 7;
    
    height: 120px;
    border-radius: 10px; 
 }
 .fats_text{
    position: absolute;
    z-index: 8;
    color: azure;
    top:120px;
    left:10px;
    right: 10px; 
 }
 .carbohydrates_img{
    position: absolute;
    width:253px; ;
    background-color: rgba(77, 54, 54, 0.877);
    z-index: 7;
    
    height: 120px;
    border-radius: 10px; 
 }
 .carbohydrates_text{
    position: absolute;
    z-index: 8;
    color: azure;
    top:120px;
    left:10px;
    right: 10px; 
 }
 .nutritions{
     position: absolute;
     top:900px;
     left:490px;
     font-size: 40px;
     z-index: 9;
     font-family: "Parisienne", cursive;
 }

 .riceLine{
    position: absolute;
    width:190px;
    rotate: 130deg ;
    z-index: 10;
    border:1px solid black;
    top:260px;
    left:620px;
 }

 .meatLine{
    position: absolute;
    width:190px;
    rotate: 130deg ;
    z-index: 10;
    border:1px solid black;
    top:400px;
    left:780px;
 }

 .brocolliLine{
    position: absolute;
    width:190px;
    rotate: 40deg ;
    z-index: 10;
    border:1px solid black;
    top:760px;
    left:760px;
 }

 .lemonLine{
    position: absolute;
    width:190px;
    rotate: 140deg ;
    z-index: 10;
    border:1px solid black;
    top:660px;
    left:230px;
 }

 .chart1 {
    /* First chart */
    position: absolute;
    top: 1430px;
    left: 100px;
    z-index: 5;
  }
 
  .chart-heading1 {
    /* First chart heading style */
    font-family: "Rubik", sans-serif;
    color: rgb(196, 190, 190);
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
  }
 
  .chart-container1 {
    /* First chart container style */
    width: 1000px;
    z-index: 5;
  }
 
  .stats1 {
    /* First statement style */
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    width: 1000px;
    box-shadow: 0 4px 12px -2px rgba(83, 78, 78, 0.3);
    border-radius: 20px;
    padding: 8px 32px;
    color: rgb(3, 48, 71);
    transition: all 400ms ease;
    background-color: rgb(238, 238, 238);
  }
 
  .stats1 ul {
   
    list-style: none;
    padding: 0;
  }
 
  .stats1 ul li {
    font-size: 16px;
    margin: 20px 20px;
    text-transform: uppercase;
  }
 
  .stats1 {
   
    font-weight: 700;
    color: #e63946;
  }




  .all {
   font-family: Arial, sans-serif;
   background-color: #34d1aa;
   margin: 0;
   padding: 0;
   display: flex;
   font-family: "Playfair Display SC", serif;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.container {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: 20px;
   top:400px;
   width: 300px;
   left:700px;
   font-family: "Playfair Display SC", serif;
   position: absolute;
   z-index: 12;
   top:2000px;
   border:2px solid #34d1aa;
   box-shadow: 2px 2px 2px 2px #34d1aa; 
}

h2 {
   margin-top: 0;
   font-size: 24px;
   text-align: center;
}

form {
   display: flex;
   flex-direction: column;
}

label {
   margin-bottom: 8px;
}

input[type="number"],
select {
   padding: 8px;
   margin-bottom: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
}

input[type="submit"] {
   background-color: #34d1aa;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
}

input[type="submit"]:hover {
   background-color: #ccc;
}
#weight{
   font-family: "Playfair Display SC", serif;
}
.slushalki{
   position: absolute;
   z-index: 30;
   top:2150px;
   left:-30px;
  
}
